 <h4 class="title">PROVIDE US WITH YOUR FEEDBACK</h4>

<Form class="form-feedback" [formGroup]="feedbackForm" (ngSubmit)="registerFeedback()" >
    <input type="text" class="form-control" formControlName="content" placeholder="Write your feedback">
    <button type="submit" class="btn btn-block btn-primary"> Submit </button>
</Form>

<div *ngFor='let f of feedback'>
  <div class="card">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ngb-tabset [justify]="'center'" class="text-center">
          <ngb-tab>
            <!-- <ng-template ngbTabTitle>
            {{f.user.FirstName}} {{f.user.LastName}}
            </ng-template> -->
            <ng-template ngbTabContent>
              <p>
             {{f.content}}
              </p>
              <button (click)='deleteFeedback(f)' class="now-ui-icons ui-1_simple-remove">
                    DELETE 
              </button>
            </ng-template>
          </ngb-tab> 
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>






